@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
main {
  margin-top: 0;
  margin-bottom: 0;
}

.card {
  width: 90%;
  margin: auto;
  border-radius: 20px;
}

.strong {
  font-weight: bold;
}

a {
  color: unset;
  text-decoration: none;
}

.fav {
  position: relative;
}
.fav .fa-regular {
  position: absolute;
}
.fav .fa-solid {
  z-index: 1;
  position: absolute;
  display: none;
}
.fav:hover .fa-solid {
  animation: apparitionCoeur 0.2s linear;
  display: initial;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bouton {
  color: white;
}
.bouton div {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 40px;
  height: 60px;
  margin: auto;
  box-shadow: 0 0 20px #c2c2c2;
  transition: background 0.2s, box-shadow 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bouton:hover div {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0 0 20px #9b9b9b;
}

@keyframes apparitionCoeur {
  0% {
    clip-path: circle(0%);
  }
  100% {
    clip-path: circle(100%);
  }
}
body {
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  box-shadow: 0 0 10px #737373;
  height: 75px;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  align-items: center;
  position: relative;
}
header div {
  width: 50%;
  height: 35px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
}
header div img {
  max-height: 100%;
  max-width: 100%;
}
header a {
  position: absolute;
  padding-left: 5%;
  padding-right: -5%;
  font-size: 25px;
}

nav {
  background: #F7F7F7;
  margin: 0;
  padding-bottom: 5%;
  height: 375px;
}
nav #loc {
  background: #efefef;
  width: 100%;
  height: 60px;
  margin-bottom: 5%;
  display: flex;
  align-content: center;
  justify-content: center;
}
nav #loc i {
  margin-top: auto;
  margin-bottom: auto;
}
nav #loc input {
  background: none;
  border: none;
  width: auto;
  text-align: center;
}
nav h1 {
  width: 60%;
  margin: 40px auto 20px;
  text-align: center;
}
nav p {
  margin-bottom: 35px;
  text-align: center;
}
nav .marg70 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
nav a div {
  width: 60%;
}
nav a div p {
  margin: 0;
}

footer {
  background: #353535;
  color: white;
  padding-left: 5%;
  padding-top: 30px;
  height: 220px;
  margin-bottom: 0;
}
footer img {
  filter: invert(1);
  max-height: 28%;
  max-width: 28%;
  padding-bottom: 20px;
}
footer div {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 30px;
}
footer div i {
  width: 30px;
}
footer p {
  margin-top: 8px;
  margin-bottom: 8px;
}

.load {
  position: sticky;
  top: 50%;
  width: 100%;
  height: 50px;
  content: "";
  background: blue;
  z-index: 1;
  animation: disparition 1s step-end forwards;
}
.load .spinner {
  overflow: hidden;
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  border: 3px solid white;
  border-top: 3px solid #9356DC;
  border-bottom: 3px solid #FF79DA;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: custom-loading 1s linear infinite;
}

@keyframes custom-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disparition {
  0% {
    cursor: wait;
    transform: scale(1);
  }
  100% {
    cursor: default;
    transform: scale(0);
  }
}
#fonctionnement {
  margin-left: 5%;
  margin-right: 0;
}
#fonctionnement .card {
  background: #F7F7F7;
  height: 85px;
  margin-top: auto;
  margin-bottom: 15px;
}
#fonctionnement .card--main {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 0;
}
#fonctionnement .card--main > * {
  margin-right: 20px;
}
#fonctionnement .card .num {
  background-color: #9356DC;
  width: 30px;
  border-radius: 15px;
  height: 25px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  text-align: center;
  margin-left: -15px;
  margin-bottom: 0;
  margin-top: 0;
  color: white;
}
#fonctionnement .card i {
  padding-top: 0;
}
#fonctionnement .card p {
  margin-top: 0;
  margin-bottom: 0;
}
#fonctionnement .last {
  background: #f2eafb;
}
#fonctionnement .last i {
  color: #9356DC;
}

#restaurants {
  background: #F7F7F7;
  padding-bottom: 20px;
}
#restaurants h1 {
  padding-top: 50px;
  margin-left: 5%;
}
#restaurants .card {
  width: 90%;
  height: 300px;
  background-color: white;
  box-shadow: 0 0 20px #c2c2c2;
  margin-bottom: 20px;
  position: relative;
}
#restaurants .card--img {
  position: relative;
  overflow: hidden;
  height: 210px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#restaurants .card--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#restaurants .card--main {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 8%;
}
#restaurants .card--main .fav {
  height: 20px;
  width: 20px;
  transform: translateY(150%);
}
#restaurants .card--main .fav .fa-heart {
  font-size: 28px;
}
#restaurants .card--new p {
  z-index: 10;
  margin-right: 5%;
  margin-top: 5%;
  padding: 2% 3%;
  border-radius: 3px;
  top: 0;
  right: 0;
  position: absolute;
  text-align: right;
  background: #99E2D0;
  color: #278870;
}

main #imgPrincpale {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
main .card--Menu {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -40px;
  background: #F7F7F7;
  z-index: 10;
  position: relative;
}
main .card--Menu .entete {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .card--Menu .entete .fav {
  margin-right: 5%;
  font-size: 30px;
  margin-top: 0;
  width: 30px;
  height: 30px;
}
main .card--Menu .souligner {
  border-bottom: solid #99E2D0 3px;
  padding-bottom: 5px;
}
main .card--Menu .card {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  background: white;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  animation: apparitionMenu 0.5s both;
  overflow: hidden;
}
main .card--Menu .card--1 {
  animation-delay: 0s;
}
main .card--Menu .card--2 {
  animation-delay: 200ms;
}
main .card--Menu .card--3 {
  animation-delay: 400ms;
}
main .card--Menu .card--4 {
  animation-delay: 600ms;
}
main .card--Menu .card .plat {
  padding-left: 5%;
  padding-bottom: 18px;
  padding-top: 18px;
  min-width: 0;
}
main .card--Menu .card .plat p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .card--Menu .card .prix {
  padding-bottom: 18px;
  padding-right: 5%;
  margin-left: auto;
}
main .card--Menu .card .prix p {
  margin: 0;
}
main .card--Menu .card .ajouter {
  background: #99E2D0;
  height: 86px;
  width: 40px;
  padding-right: 0;
  margin-right: -40px;
  display: flex;
  align-items: center;
  transition: margin-right 0.5s, width 0.5s;
}
main .card--Menu .card .ajouter i {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 25px;
  color: white;
  font-size: 25px;
}
main .card--Menu .card:hover .ajouter {
  background: #99E2D0;
  height: 86px;
  width: 70px;
  padding-right: 0;
  margin-right: 0;
  display: flex;
  align-items: center;
}
main .card--Menu .card:hover .ajouter i {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 25px;
  color: white;
  font-size: 25px;
  animation-duration: 0.5s;
  animation-name: tourner;
}
main .card--Menu .commander {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 10px;
}

@keyframes tourner {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes apparitionMenu {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
h1, h2, p {
  font-family: "Roboto", sans-serif;
}

.strong {
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 28px;
}

.titre {
  font-family: "Shrikhand", cursive;
  font-size: 34px;
}

.EPD {
  font-size: 20px;
}

.grand {
  font-size: 22px;
}

/*# sourceMappingURL=style.css.map */
