footer{
  background: #353535;
  color: white;
  padding-top: 30px;
  height: 220px;
  margin-bottom: 0;
  .foot{
    margin-left: 5%;
    margin-right: 5%;
  }
  img{
    filter: invert(1);
    width: 120px;
    padding-bottom: 20px;
  }
  .basdepage{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 30px;
    i{
      width: 30px;
    }
  }
  p{
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 992px) {
  footer{
    height: 100px;
    .foot{
      max-width: 1400px;
      width: 90%;
      margin-right: auto;
      margin-left: auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      img{
        margin-left: 50%;
        margin-right: 50%;
      }
    }
  }
}