@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap');
h1,h2,p{
  font-family: 'Roboto', sans-serif;
}
.strong{
  font-family: 'Roboto', sans-serif;
}
p{
  font-size: 18px;
}
h1{
  font-size: 28px;
}
.titre{
  font-family:'Shrikhand', cursive;
  font-size: 34px;
}
.EPD{
  font-size: 20px;
}
.grand{
  font-size: 22px;
}

