.card{
  width: 90%;
  margin: auto;
  border-radius: 20px;
}
#fonctionnement{
  margin-left: 5%;
  margin-right: 0 ;
  .card{
    background: $colour-bg;
    height: 85px;
    margin-top: auto;
    margin-bottom: 15px;
    &--main{
      display: flex;
      justify-content: start;
      padding-top: 20px;
      &>*{
        margin-right: 20px;
      }
    }

    .num{
      background-color: $colour-primary;
      width: 30px;
      border-radius: 15px;
      height: 25px;
      padding-top: 5px;
      text-align: center;
      margin-left: -15px;
      margin-bottom: -5px;
      color: white;
    }
    i{
      padding-top: 17px;
    }
  }
  .last{
     i {
       color: $colour-primary;
     }
     background: lighten($colour-primary , 35%);
   }
}
#restaurants{
  background: $colour-bg;
  h1{
    padding-top: 50px;
    margin-left: 5%;
  }
  .card{
    width: 90%;
    height: 300px;
    background-color: white;
    box-shadow: 0 0 20px #c2c2c2;
    margin-bottom: 20px;
    position: relative;
    &--img{
      position: relative;
      overflow: hidden;
      height: 210px;
      border-top-left-radius:20px;
      border-top-right-radius:20px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &--main{
      display: flex;
      align-content: center;
      justify-content: space-between;
      padding-left: 5%;
      padding-right: 5%;
      &--fav{
        height: 20px;
        width: 20px;
        position: relative;
        transform: translateY(100%);
        .fa-solid{
          display: none;
        }
        &:hover{
          .fa-solid{
            display: initial;
            background: -webkit-linear-gradient($colour-secondary, $colour-primary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          .fa-regular{
            display: none;
          }
        }
      }
    }
    &--new p{
      z-index: 10;
      margin-right: 5%;
      margin-top: 5%;
      padding: 2% 3%;
      border-radius: 3px;
      top: 0;
      right: 0;
      position: absolute;
      text-align: right;
      background: $colour-tertiary;
      color: darken($colour-tertiary,40%);
    }
  }
}