main{
  margin-top: 0;
  margin-bottom: 0;
}
.card{
  width: 100%;
  margin: auto;
  border-radius: 20px;
}
.strong{
  font-weight: bold ;
}
a{
  color: unset;
  text-decoration: none;
}
.fav{
  position: relative;
  .fa-regular {
    position: absolute;
  }
  .fa-solid {
    z-index: 1;
    position: absolute;
    display: none;
  }
  &:hover {
    .fa-solid {
      animation: apparitionCoeur 0.2s linear;
      display: initial;
      background: -webkit-linear-gradient($colour-secondary, $colour-primary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.bouton{
  color: white;
  div {
    background: linear-gradient($colour-secondary, $colour-primary);
    border-radius:  40px;
    height: 60px ;
    margin: auto;
    box-shadow: 0 0 20px #c2c2c2;
    transition: background 0.2s,box-shadow 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover{
    div{
      background: linear-gradient(lighten($colour-secondary , 5%), lighten($colour-primary , 5%));
      box-shadow: 0 0 20px #9b9b9b;
    }
  }
}
@keyframes apparitionCoeur {
  0%{
    clip-path: circle(0%);
  }
  100%{
    clip-path: circle(100%);
  }
}
